body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 1.6;
    /* background: rgb(130, 192, 192); */
    /* color: white; */
}

/* Nota: Botón para abrir modal */
.button{
    background: darkkhaki;
    padding: 1em 2em;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
}

.button:hover{
    background: #ff44ff;
    font-weight: bold;
}

/* Nota: Ventana modal */
.modal{
    /* Nota: Al cargar de manera inicial, no se muestra div */
    display: none;
    position:fixed;
    z-index: 1;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    /* Nota: The overflow shorthand CSS property sets 
    what to do when an element's content is too big to fit in its block formatting context.  */
    /* Referencia:
    https://developer.mozilla.org/en-US/docs/Web/CSS/overflow */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    background-color: #f4f4f4;
    /* Nota: Centra de manera vertical el div .model-content */
    margin: 20% auto;
    /* padding: 20px; */
    width: 70%;
    /* Nota: Se pueden combinar varios box-shadow separando las propiedades con una coma. */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    border-radius: 3px;
    /* Nota: Animación de la aparición de la ventana modal. 
    Adicional se requiere usar @keyframes, ver final del archivo*/
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header h2, .modal-footer h3{
    margin: 0;
}

.modal-header{
    background: blueviolet;
    color: white;
    padding: 10px;

}

.modal-body{
    padding: 10px 20px;
}

.modal-footer{
    background: rgb(112, 35, 184);
    padding: .2rem;
    color: #ffffff;
    text-align: center;
}

.closeBtn{
    color: white;
    float: right;
    font-size: 1.4rem;
    font-weight: bold;
}

.closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
} 

/* Nota: usado en .modal-content con animation-name animation-duration. 
        Ver código más arriba */
@keyframes modalopen{
    from{opacity: 0;}
    to {opacity: 1;}
}
